@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #303030;
  background-size: cover;
  background-position: center;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  position: relative;
  color: #fafafa;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}
header .logo img {
  width: 50px;
  height: auto;
}
header .navigation a {
  color: #fafafa;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background, color;
}
header .navigation a:not(:last-child) {
  margin-right: 30px;
}
header .navigation a:hover {
  background: #ff4747;
  color: #303030;
}

.content {
  max-width: 650px;
  margin: 60px 100px;
}
.content .info h2 {
  color: #ff4747;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}
.content .info h2 span {
  color: #fafafa;
  font-size: 50px;
  font-weight: 600;
}
.content .info p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.content .buttons {
  display: flex;
  margin: auto;
  align-items: center;
}
.content .buttons .download {
  color: #303030;
  background: #ff4747;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}
.content .buttons .download:hover {
  background: #fafafa;
}
.content .buttons .media-icons {
  padding-left: 20px;
}
.content .buttons .media-icons a {
  position: relative;
  color: #fafafa;
  font-size: 25px;
  transition: 0.3s;
  transition-property: transform;
}
.content .buttons .media-icons a:not(:first-child) {
  margin-left: 20px;
}
.content .buttons .media-icons a:hover {
  transform: scale(1.5);
}

label {
  display: none;
}

#check {
  z-index: 3;
}

@media (max-width: 960px) {
  header .navigation {
    display: none;
  }

  label {
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }
  label .close-btn {
    display: none;
  }

  label:hover {
    color: #ff4747;
  }

  #check:checked ~ header .navigation {
    z-index: 2;
    position: fixed;
    background: rgba(255, 71, 71, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #check:checked ~ header .navigation a {
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }
  #check:checked ~ header label .menu-btn {
    display: none;
  }
  #check:checked ~ header label .close-btn {
    z-index: 2;
    display: block;
    position: fixed;
  }

  label .menu-btn {
    position: absolute;
  }
}

/*# sourceMappingURL=style.css.map */
